body {
    background-color: rgb(239, 233, 219);
    text-align: center;
    font-family: "Lucida Console", "Monaco", monospace;
}
a {
    color: rgb(210, 4, 45);
}
p {
    color: rgb(54, 37, 0);
}
.bio{
    margin-right: 300px;
    margin-left: 300px;
}
t{
    color: rgb(127, 1, 26);
    font-size: 40px;
}
span{
    color: rgb(54, 37, 0);
}
img{
    padding: 20px;
    width: 200px;
}