body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, sans-serif;
}
a {
    color: #9a0000;
}
b {
    color: rgb(210, 4, 45);
    font-size: 30px;
}
p {
    color: rgb(54, 37, 0);
    margin-right: 100px;
    margin-left: 100px;
}
.bio{
    margin-right: 300px;
    margin-left: 300px;
}
t{
    color: #000000;
    font-size: 40px;
}
span{
    color: rgb(54, 37, 0);
}
img{
    padding: 20px;
    width: 500px;
}